img{
    width: 30%;
    float: left;
    height: 500px;
    margin: 1.6%
}
h1{
    margin: 1.6%;
    border-bottom: 2px solid #000;
    width: 28%;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    margin: 1.6%;
}